package frontend

import "github.com/computerextra/viktor/db"

templ LieferantenOverview(lieferanten []db.LieferantModel, uri string) {
}

templ NeuerLieferant() {
}

templ LieferantEdit() {
}

templ lieferantForm() {
}
